{% load static %}
{{datos_tarjeta|json_script:"datos-tarjeta"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Events</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-black">
    <header>
        <nav class="h-[10vh] bg-white flex flex-row items-center px-[10vw] justify-between">
            <img src="{% static 'core/base/logo.png' %}" alt="" class="h-[10vh] object-cover">
            <ul class="flex flex-row gap-[7vw]">
                <li class="text-xl hover:text-orange-500 duration-100">
                    <a href="{% url 'principal' %}">Principal</a>
                </li>
                <li class="text-xl hover:text-orange-500 duration-100">
                    <a href="{% url 'principal' %}#seccion-eventos">Eventos</a>
                </li>
                {% if user.is_authenticated %}
                    {% if not user.is_staff and not user.is_superuser %}
                        <li class="text-xl hover:text-orange-500 duration-100">
                            <a href="{% url 'cuenta' %}">Cuenta</a>
                        </li>
                        
                    {% endif %}
                    <li class="text-xl hover:text-orange-500 duration-100">
                            <a href="{% url 'cerrar_sesion' %}">Cerrar sesion</a>
                        </li>
                {% else %}
                    <li class="text-xl hover:text-orange-500 duration-100">
                        <a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="">
    {% block content %}
    {% endblock %}
    </main>
    <script src="{% static 'core/eventos/eventos.js' %}"></script>
    <script src="{% static 'core/eventos/elementos.js' %}"></script>
    <script>
        const urlEvento = "{% url 'informacion_evento' id=0 %}"
    </script>
</body>
</html>