{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Events</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="bg-black">
    <header>
        <nav class="h-[10vh] bg-white flex flex-row items-center px-[10vw] justify-between">
            <img src="{% static 'core/logo.png' %}" alt="" class="h-[10vh] object-cover">
            <ul class="flex flex-row gap-[7vw]">
                <li class="text-xl hover:text-orange-500 duration-100">
                    <a href="">Principal</a>
                </li>
                <li class="text-xl hover:text-orange-500 duration-100">
                    <a href="">Eventos</a>
                </li>
                <li class="text-xl hover:text-orange-500 duration-100">
                    <a href="">Iniciar sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="">
    {% block content %}
    {% endblock %}
    </main>

    <script src="{% static 'core/menuDesplegable.js' %}"></script>
</body>
</html>