{% extends 'core/base.html' %}
{% block content %}
<section class="h-[90vh] w-full flex flex-col justify-center items-center">
    <div class="bg-white h-[80vh] w-[70vw] rounded-sm relative">
       <div class="absolute inset-1 bg-gray-400 w-[25vw] rounded-sm">
            <form method="POST" class="h-full w-full flex flex-col px-[2vw] py-[5vh] text-white gap-[1vh]">
                {% csrf_token %}
                {% if not estado_actualizar_usuario %}
                <h1 class="text-center text-red-200 font-bold">El nombre de usuario esta ocupado.</h1>
                {% endif %}
                <div class="flex flex-col gap-[2vh]">
                    <label for="nombre-usuario">Nombre usuario:</label>
                    <input name="nombre-usuario" type="text" placeholder="{{usuario.username}}" class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
                </div>
                <div class="flex flex-col gap-[2vh]">
                    <label for="Correo electronico">Correo Electronico:</label>
                    <input name="correo" type="text" placeholder="{{usuario.email}}" class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
                </div>
                <div class="flex flex-col gap-[2vh]">
                    <label for="Primer nombre">Primer nombre:</label>
                    <input name="nombre" type="text" 
                    placeholder="{% if usuario.first_name == '' %}Ingrese primer nombre{%else%}{{usuario.first_name}}{% endif %}" 
                    class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
                </div>
                <div class="flex flex-col gap-[2vh]">
                    <label for="apellido">Apellido:</label>
                    <input name="apellido" type="text" 
                    placeholder="{% if usuario.last_name == '' %}Ingrese apellido{%else%}{{usuario.last_name}}{% endif %}" 
                    class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
                </div>
                <div class="flex flex-col gap-[1vh]">
                    <button class="bg-slate-200 h-[8vh] w-[15vw] mx-auto text-black rounded-sm mt-[3vh] hover:scale-105 hover:text-orange-400 duration-150 hover:cursor-pointer">Actualizar datos</button>
                </div>
            </form>
       </div>
    </div>
</section>
{% endblock %}