{% extends 'core/base.html' %}
{% block content %}
<section class="h-[90vh] flex flex-row items-center justify-center">
    <div class="relative h-[65vh] w-[35vw] bg-slate-200 rounded-sm">
        <form method="POST" class="absolute inset-2 bg-slate-500 flex flex-col px-[2vw] py-[5vh] text-white gap-[5vh]">
            {% csrf_token %}
            {% if error %}
            <h1 class="mb-[-3vh] text-center text-red">El usuario o la contraseña esta incorrecto.</h1>
            {% endif %}
            <div class="flex flex-col gap-[2vh]">
                <label for="nombre-usuario">Nombre usuario:</label>
                <input name="nombre" type="text" placeholder="Ingrese nombre de usuario" class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
            </div>
            <div class="flex flex-col gap-[2vh]">
                <label for="contraseña">Contraseña:</label>
                <input name="contraseña" type="password" placeholder="Ingrese contraseña" class=" text-black appearance-none border bg-white h-[6vh] text-lg px-[1vw]">
            </div>
            <div class="flex flex-col gap-[1vh]">
                <button class="bg-slate-200 h-[8vh] w-[15vw] mx-auto text-black rounded-sm mt-[3vh] hover:scale-105 hover:text-orange-400 duration-150 hover:cursor-pointer">Iniciar sesión</button>
                <a href="{% url 'crear_cuenta' %}" class="text-sm text-center hover:scale-101 transition-transform">No tienes cuenta aún? ¡Haz clic aquí para registrarte!"</a>
            </div>
            
        </form>
    </div>
</section>
{% endblock %}