{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="text-white h-[90vh] z-0 relative">
    <img src="{{evento.imagenPrincipal}}" alt="" class="h-full w-full object-cover opacity-45">
    <div clas="relative">
        <h1 class="font-bold text-5xl absolute top-30 left-10 md:left-30 lg:left-40 drop-shadow-[0_5px_10px_rgba(0,0,0,0.8)]">Registrate</h1>
        <p class="text-xl absolute top-50 left-10 md:left-30 lg:left-40 w-[80vw] md:w-[40vw] [0_5px_10px_rgba(0,0,0,0.8)]">
            Explora una selección de festivales, exposiciones, conciertos y talleres organizados en distintas ciudades del país. Regístrese para recibir información actualizada sobre cada actividad.”
        </p>
        <a href="{% url 'crear_cuenta' %}" class="absolute bottom-40 md:top-90 left-10 md:left-30 lg:left-40 bg-transparent from-white bg-gradient-to-tr bg-black md:h-[7vh] md:w-[15vw] text-black  hover:scale-102 duration-150 hover:cursor-pointer hover:bg-orange-400">
            <button class="h-[7vh] w-[30vw] md:w-[15vw]  text-black font-semibold hover:cursor-pointer ">
                Crear cuenta
            </button>
        </a>
    </div>    
</section>
{% endblock %}
